.content-root {

}

.profile-text {
    padding-top: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: auto;
    text-align: justify;
    /*line-height: 1.35em;*/
}

#profile-pic {
    max-width: 230px;
    /*height: auto;*/
    margin-right: 10px;
}

#profile-desc {
    text-align: justify;
}
